.thumbnail {
    display: inline-block;
    margin-right: 2px; 
    position: relative;
    width: 60;
    height: 60;
    overflow: hidden;
  }
.thumbnail img {
position: absolute;
left: 50%;
top: 50%;
height: 100%;
border-radius: 20%;
width: auto;
-webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
}
.thumbnail img.portrait {
width: 100%;
height: auto;
}