<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      EVALUACIONES
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let assess of (assessmentList$ | async)">
      <!-- <ion-avatar slot="start">
        <img src="/docs/assets/img/avatar-finn.png"></img>
      </ion-avatar> -->
      <ion-label>
        <h2>{{assess.label}}</h2>
        <!-- <h3>I'm a big deal</h3> -->
      </ion-label>
      <ion-button (click)="activate(assess.id)" slot="end" fill="clear" size="large">
    
        <ion-icon *ngIf="assess.editable" ios="ios-create" md="md-create"></ion-icon>
        <ion-icon *ngIf="!assess.editable" ios="ios-eye" md="md-eye"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>